:root{
--primary-color: #ef6351;
--secondary-color: #F38375;
--tertiary-color: #323031;
--quaternary-color: #3D3B3C;
--quinary-color: #F3F7F0;
}

.gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 850px;
    justify-content: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(334deg, #6b97f7, var(--secondary-color), #f7137e);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}